body{background-color:#2a2a2a;}
/* Clearfix for modern browsers */
.cf:before,.cf:after {content:"";display:table;}
.cf:after {clear:both;}
/* Clearfix for IE 6/7 (trigger hasLayout) */
.cf {*zoom:1;}
h1,h2,h3,h4{font-family:'Patua One',cursive;clear:both;}
h5,p,li{font: 400 16px/1.625 "Bookman Old Style","Serifa BT","URW Bookman L","itc bookman",times,serif;color:#333333;}
ul{padding:0 3em;}
li{list-style-type:disc;margin:.5em 0;}
a{color:#4868aa;}a:hover{color:#6888ca;}
#container{width:920px;margin:0 auto;color:#443322;background-color:#fff;border-width:0 0 0 0;border-color:#999;border-style:solid;box-shadow:2px 4px 20px #000000;-moz-box-shadow:2px 4px 20px #000000;-webkit-box-shadow:2px 4px 20px #000000;-o-box-shadow:2px 4px 20px #000000;}
#container img,#container canvas{display: block;border:1px solid #dedede;padding:1em;margin:1em;float:left;}
#container canvas{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJklEQVQYlWNgYGD4z4AfEJInTjVOU/Aajy5JmltwmUaZKeimwQEAJYsJ9+FVkUMAAAAASUVORK5CYII=) repeat;}
#container hgroup{clear:both;padding:2em 0 1em;margin:0 3em;}
#container hgroup h1{font-size:48px;color:#375AD5;padding:0;}
#container hgroup h2{font-size:large;}
#container section{clear:both;padding:1em 0;margin:0 3em;border-bottom:solid 1px #dedede;}
#container section h2{font-size:x-large;border-top:1px solid #999;padding:.6em 0 0 0;}
#container section h3{font-size:larger;}
#container section h4{color:#666;margin:1em 0 0 0;}
#container section h5{float:right;background-color:#dedede;margin:0px;padding:3px 5px;text-transform:uppercase;font-weight:lighter;font-size:x-small;}
#container section div{margin:2em 2em 1.2em 0;}
#container section p{font-size:normal;}
#container section p.warning{background-color:#FFA9A9;margin:0 0 2em 0;padding: 1.5em 2.5em;color:#972334;border-radius:5px;}
#container .github {float:right;padding:0;margin:-36px 48px 0 0;}
